<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="HarvestOutPath" value="C:\VarianOrchard_Out\" />
  </appSettings>
  <connectionStrings>
    <add name="sapphire" connectionString="Data Source=DEV.HEADQUARTERS.DOCTORSDATA.COM;Persist Security Info=True;User ID=develop;Password=quoxo;Unicode=True"
      providerName="System.Data.OracleClient"/>
    <add name="sapphireP" connectionString="Data Source=LIMS.HEADQUARTERS.DOCTORSDATA.COM;Persist Security Info=True;User ID=sapphire;Password=vodo5gray;pooling=true"
      providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>