<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="HarvestOutPath" value="\\gclc\VarianOrchard_Out\"/>
  </appSettings>
  <connectionStrings>
    <add name="sapphire" connectionString="Data Source=DEV.HEADQUARTERS.DOCTORSDATA.COM;Persist Security Info=True;User ID=develop;Password=quoxo;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="sapphireP" connectionString="Data Source=LIMS.HEADQUARTERS.DOCTORSDATA.COM;Persist Security Info=True;User ID=sapphire;Password=vodo5gray;pooling=true" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>
